* {
  padding: 0;
  margin: 0;
  font-family: "Futura", "Arial", sans-serif;
}
.nav-section {
  height: 60px;
  background-color: #ffcdd2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.nav-link-section {
  width: 300px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav-link {
  color: black;
  text-decoration: none;
  padding: 5px 0px;
}
.nav-link:hover {
  border-bottom: 3px black solid;
}
.nav-icon-section {
  width: 300px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1.25em;
}
.nav-icon {
  color: black;
  text-decoration: none;
}
.nav-icon:hover {
  border-bottom: 3px black solid;
}
.nav-header {
  color: black;
  font-size: 2em;
  transition: all 2s;
}
.nav-header:hover {
  transform: rotate(360deg);
}
.image-section {
  padding-top: 60px;
  height: 800px;
  width: 100%;
  background-image: url("https://media.wired.com/photos/5c6db53ffef5821a736af429/master/pass/samsungfold_top-1130992912.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.image-text {
  color: pink;
  padding-bottom: 50px;
  font-size: 2.5em;
  font-weight: bold;
}
.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
  transition: all 0.2s;
}

.card-item:hover {
  color: red;
}
.card-item i {
  font-size: 6em;
  transition: 2s;
}
.card-item i:hover {
  transform: rotate(360deg);
}
.card-link {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
@media (max-width: 800px) {
  .nav-section {
    flex-direction: column;
    height: auto;
  }
  .nav-header {
    order: -1;
  }
  .nav-link-section {
    margin: 15px 0;
  }
  .card-item {
    width: 30%;
  }
}
@media (max-width: 800px) {
  .image-text {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  .image-text {
    font-size: 20px;
  }
  .card-item {
    width: 50%;
  }
}
